@model ControlActive.Models.Region

@{
    ViewData["Title"] = "Create";
}

<h4>Вилоят яратиш</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RegionName" class="control-label">Вилоят номи</label>
                <input asp-for="RegionName" class="form-control" />
                <span asp-validation-for="RegionName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> Фаол
                </label>
            </div>
            <div class="row">
                <div class="form-group col-2">
                    <input type="submit" value="Яратиш" class="btn btn-dark" />
                </div>
                <div class="col-2">
                    <a class="btn btn-mini btn-secondary" asp-action="Index">Ортга</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
