@{ 
    Layout = null;
    ViewBag.Title = "Topilmadi";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Control Active </title>

    <!-- Bootstrap -->
    <link href="~/libg/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/libg/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/libg/vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/libg/build/css/custom.min.css" rel="stylesheet">

</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center text-center">
                        <h1 class="error-number">404</h1>
                        <h2>Кечирасиз, лекин биз бу саҳифани топа олмадик</h2>
                        <p>
                            Сиз излаётган саҳифа мавжуд эмас <a href="#">Report this?</a>
                        </p>
                        <div class="mid_center">
                            <h3>Бош саҳифага қайтиш</h3>
                            <form>
                                <div class="center-margin">
                                 
                                        @*<input type="text" class="form-control" placeholder="Search for...">*@
                                    <button asp-action="Index" asp-area="Admin" asp-controller="Redirect" class="btn btn-outline-info btn-block">Босинг</button>
                             
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/libg/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/libg/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/libg/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/libg/vendors/nprogress/nprogress.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/libg/build/js/custom.min.js"></script>
</body>
</html>
