@page
@model LockoutModel
@{
    ViewData["Title"] = "Профил қулфланди!";
    Layout = null;
}

<header>
    <h1 style="color:darkred" class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Бу профил қулфланди, илтимос 10 дақиқадан кейин кириб кўринг.</p>
</header>
